gedichtsammlung {
    background-color: lightblue;
    width: 500px;
}

kopf {
    color: white;
    text-align: center;
}

titel {
    font-family: verdana;
    font-size: 20px;
}

strophe {
    border: 2px solid green;
}

zeile {
    padding: 10px;
    margin: 30px;
}
